<!DOCTYPE html>
<html>
  <head>
    <title>Setup</title>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </strong>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
