{% extends "layout.html" %}
{% block content %}
  <h2>Wireless Setup</h2>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% if local_ip is not none %}
    <span style="color: green;"> Connected: <a href="{{local_ip}}"> {{local_ip}} </a> </span>
  {% else %}
    <span style="color: red;"> Not connected </span>
  {% endif %}
  <form action="{{ url_for('wireless_setup') }}" method=post>
    {{ form.hidden_tag() }}
    {{ form.ssid.label }}
    {{ form.ssid }}
    {{ form.password.label }}
    {{ form.password }}
    {{ form.submit }}
  </form>
  <script>

    function wait_for_completion() {
      $.ajax({
        url: "{{ url_for('connected') }}",
      })
      .success(function() {
        alert('It worked!');
      })
      .fail(function() {
        setTimeout(wait_for_completion, 1000);
      });
    }

    $("form").on("submit", function() {
      var url = $("form").attr("action");

      $.ajax({
        type: "POST",
        url: url,
        data: $("form").serialize(), // serializes the form's elements.
      })
      .always(wait_for_completion);

      return false; // avoid to execute the actual submit of the form.
    });

  </script>
  <script>
    $.getJSON('/ssid_list', function(data) {
      console.log(data);
      var select = document.getElementById("ssid");
      var options = data;
      for(var i = 0; i < options.length; i++) {
       var opt = options[i];
       var el = document.createElement("option");
       el.text = opt;
       el.value = opt;
       select.appendChild(el);
      }
    });
  </script>
{% endblock %}
